body{
  margin: 0;
  padding: 0;
  background-image: url(images/Oval\ shaped\ drop\ wooden\ earring.jpeg);
  background-position: center;
  background-size: cover;
  font-family: sans-serif;
  margin-top: 40px;
}

.regform{
  width: 800px;
  background-color: rgb(0,0,0,0.6);
  margin:auto;
  color: #FFFFFF;
  padding: 10px 0px 10px 0px;
  text-align: center;
  border-radius: 15px 15px 0px 0px;

}
 .main{
   background-color: rgb(0,0,0,0.5);
   width: 800px;
   margin: auto;
    
 }
 form{
   padding: 10px;
 }

 #name{
   width: 100%;
 }
.name{
  margin-left: 25px;
  margin-top: 30px;
  width: 125px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
}

.firstname{
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
}

.lastname{
  position: relative;
  left: 417px;
  top: -80px;
  line-height: 40px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
}
.firstlabel{
  position: relative;
  color: #E5E5E5;
  text-transform: capitalize;
  font-size: 14px;
  left: 203px;
  top: -45px;
}
.lastlabel{
  position: relative;
  color: #E5E5E5;
  text-transform: capitalize;
  font-size: 14px;
  left: 175px;
  top: -47px;
}
.institution{
  position: relative;
  left: 20px;
  line-height: 40px;
  width: 532px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
}

.email{
  position: relative;
  left: 20px;
  top: 20px;
  line-height: 40px;
  width: 532px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
  }
  .code{
    position: relative;
  left: 100px;
  top: 3px;
  line-height: 40px;
  width: 95px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
  }

  .number{
    position: relative;
    left: 80px;
    top: 3px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
    
  }

  .areacode{
    position: relative;
    left: -100px;
    top: 3px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: white;
    text-transform: capitalize;
  }
  .phonenumber{
    position: relative;
    left: -300px;
    top: 3px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color:white;

  }
  .option{
    position: relative;
    left: 3px;
    line-height: 40px;
    width: 532px;
    height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    overflow: hidden;
    outline: honeydew;
    font-size: 16px;
    color: #555;
  }
  #student{
    margin-left: 25px;
    color: #E5E5E5;
    font-size: 18px;

  }
.radio{
  display: inline-block;
  padding-right: 70px;
  font-size: 25px;
  margin-left: 25px;
  margin-top: 15px;
  color: #E5E5E5;
}
.radioinput{
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
}
button{
  top: -40px;
  background-color: #3BAF9F;
  display: block;
  margin: 20px,0px,0px,20px;
  text-align: center;
  border-radius: 12px;
  border: 2px solid #366473;
  padding: 14px 110px;
  cursor: pointer;
  outline: none;
  color: #E5E5E5;
  transition: 0.25px;
  
}
button:hover{
  background-color: #5390F5;

}

.gname{
  position: relative;
    left: -530px;
    top: -15px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: white;
    text-transform: capitalize;

}
.w{
  padding: 10px;
  width: 70%;
  
}
.a{
margin: auto;
left: 300px;

}
.card{
  top: 80px;
  background-image: url(images/Image\ in\ artspo\ collection\ by\ Moss\ on\ We\ Heart\ It.png);
  width: 750px;
}
.para{
  font-size: 25px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
}
.k{
  color: darkslategrey;
}




  









  


















  

